* {
    margin: 0%;
}

html {
    min-height: 100%;
}

body {
    background-color: #EEEEEE;
    font-family: 'Open Sans', sans-serif;
}

nav {
    background-color: #1C1D21;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

li {
    color: #EEEEEE;
    margin: 5px auto;
}